.input{
    width: 100%;
    display: inline-block;
    border: none;
    background: none;
    color: white;
    box-sizing: border-box;
    padding: 5px;
    background-color: #7F0799;
}

.input:focus{
    outline-style: none;
    background: #9649CB
}