.button {
    display: inline;
    cursor: pointer;
    position: relative;
}

.buttonIcon {
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    filter: opacity(.3);
}

.buttonIcon:hover {
    filter: opacity(1);
}